.contenedor {
  direction: end;
  height: 70px;
  width: 100%;
  margin-top: 2px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.281);
  /* margin-top: 5px; */
}

.elementos {
  height: 35px;
  margin: 1px;
}

.inputs {
  color: #036100;
  height: 25px;
  text-align: center;
}
