.LandingPage {
  text-align: center;
  background-image: url("./3551.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.customText {
  height: 52px;
  font-size: 33px;
  color: #fff; /* Color del texto en blanco */
  background-color: #4caf50; /* Color de fondo del texto */
  padding: 10px;
  margin: 0.1px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
a {
  text-decoration: none;
}

.extraText {
  display: inline-block;
  color: #4caf50; /* Color del texto en blanco */
  border: 1px solid #fff;
  width: auto;
  height: 25px;
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.text {
  display: inline-block;
  color: #4caf50; /* Color del texto en blanco */
  width: auto;
  height: 25px;
  font-size: 20px;
  padding: 1px;
  border-radius: 8px;
}

.divPapa {
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.divPapa h1 {
  margin-left: 0.5rem;
}

.divPapa img {
  margin-right: 0.5rem;
}

.customButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #45a049;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Efectos al pasar el ratón por encima */
.customButton:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efecto al hacer clic */
.customButton:active {
  background-color: #3e8e41;
}

/* Estilo para botones deshabilitados */
.custom-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.logotipo {
  height: 45px;
  width: 45px;
  display: flex;
  margin: 2px;
}
