.contenedor {
  width: 85vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.importantText {
  color: #183a10;
  font-size: 50px;
  width: 100px;
  height: 100px;
  text-decoration: none;
}
