.navbar {
  /* background-color: #00bfff;  */
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
}

/* Estilos para el campo de entrada */
.searchInput {
  padding: 8px;
  border: 2px solid #008000; /* Verde */
  color: #ffffff;
  border-radius: 5px;
  font-size: 15px;
  background-color: #8cec9052;
  margin-right: 0.6rem;
}

/* Estilos para el botón */
.searchButton {
  padding: 8px 15px;
  margin: 7px;
  background-color: #008000; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #006400; /* Verde más oscuro al pasar el mouse */
}

.logotipo {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: left;
  margin-right: 0.8rem;
}
